# Secrets and Config
.env

# Python internals
__pycache__/
*.py[cod]
venv
# IDE settings
.vscode/

# Logs and Temp files
logs/
temp_*.pdf
uploads/
juristway_app.log

# Environment
hms/  # (If 'hms' is your virtual environment folder)

pi.py 
test_search.py
test.py 
SETUP_GUIDE.md

hms
qdrant
storage/
__pycache__/
.env