fastapi
uvicorn[standard]
pydantic
pydantic-settings
motor
pymongo
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
# AI & Document stuff
langchain-google-genai
langgraph
langgraph-checkpoint-mongodb
langchain-core
pdf2image
pytesseract
Pillow
chromadb
redis
langchain-chroma
email-validator